* text=auto

yarn.lock -diff

src/static/*              linguist-vendored
src/static/css/*.css      linguist-vendored
src/static/js/*.js        linguist-vendored
src/static/fonts/**/*     linguist-vendored
src/static/fonts/**/**/*  linguist-vendored
