footer.site-footer
  .container
    .row.mb-5
      .col-md-4
        h3 About us
        p.mb-4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi commodi reprehenderit neque earum quas ea, molestias qui odit similique, ipsa ullam odio maiores eius aspernatur! Nostrum dolore ab incidunt perferendis.

      .col-md-6.ml-auto
        .row
          .col-md-7
            h3 Latest Posts
          
          .col-md-4
            .mb-5
              h3 Quick Links
              ul.list-unstyled
                li
                  a(href="#") Test
                li
                  a(href="#") Test
                li
                  a(href="#") Test
                li
                  a(href="#") Test
                li
                  a(href="#") Test

            .mb-5
              h3 Social
              ul.list-unstyled.footer-social
                li
                  a(href="https://github.com/habiiev", target="_blank")
                    span.fa.fa-github
                    | Github
                li
                  a(href="https://linkedin.com/in/habiiev", target="_blank")
                    span.fa.fa-linkedin
                    | Linkedin
    
    .row
      .col-md-12.text-center
        p.small 
          | Copyright &copy;
          | #[script(data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js")]
          script
            | document.write(new Date().getFullYear());
          
          | &nbsp;All Rights Reserved | Web Application built by #[a(href="https://github.com/habiiev") Oleksii Habiiev]
          | | This template is made with #[i(aria-hidden="true").fa.fa-heart.text-danger] by #[a(href="https://colorlib.com" target="_blank") Colorlib]
