.col-md-12.col-lg-4.sidebar
  .sidebar-box.search-form-wrap
    form(action="#").search-form
      .form-group
        span.icon.fa.fa-search
        input(type="text", placeholder="Search articles...")#s.form-control
  .sidebar-box
    h3.heading Categories
    ul.categories
      li
        a(href="#") Test
      li
        a(href="#") Test
      li
        a(href="#") Test
        
        