extends _layout.pug

block body
  .article
    form(action="/a/" + article.slug + "?_method=DELETE" method="POST")
      input(type="hidden" name="_method" value="DELETE")
      input(type="submit", value="Delete Article").article__delete-button
    
    h2= article.title
    p= article.content
