extends _layout.pug

block body
  if empty
    each article in articles
      article.article
        h2.article__title
          a(href="/a/" + article.slug).article__link= article.title
  else
    h2 No articles were found
  