extends ../_layout.pug

block body
  .container
    .row.mb-4
      .col-md-6
        h1 Edit Article
    
    .row.blog-entries
      .col-md-12.col-lg-8.main-content
        form(action="/a/" + article.slug + "/edit?_method=PUT", method="post")
          input(type="hidden", name="_method", value="PUT")

          .row
            .col-md-12.form-group
              label(for="title") Title
              input(type="text", name="title", value=article.title)#title.form-control
              
              if errors && errors.title
                small= errors.title

          .row
            .col-md-12.form-group
              label(for="content") Content
              textarea(name="content", cols="30", rows="20")#content.form-control= article.content
              
              if errors && errors.content
                small= errors.content

          .row
            .col-md-6.form-group
              input(type="submit", value="Save Article").btn.btn-primary

      include ../_components/sidebar
