extends ../_layout.pug

block body
  .container
    .row.mb-4
      .col-md-6
        h1 Login
    
    .row.blog-entries
      .col-md-12.col-lg-8.main-content
        form(method="post")
          .row
            .col-md-12.form-group
              label(for="username") Username
              input(type="text", name="username")#username.form-control

            .col-md-12.form-group
              label(for="password") Password
              input(type="password", name="password")#password.form-control
            
          .row
            .col-md-6.form-group
              input(type="submit", value="Login").btn.btn-primary

      include ../_components/sidebar
